<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add  key="WorkingDirectory" value="C:\Program Files (x86)\Muse"/>
    <add key="culture" value="he"/>
  </appSettings>
</configuration>

<!--for a compete list of available cultures : https://msdn.microsoft.com/en-us/library/hh441729.aspx-->